html
  head
    title= "Nodepoleaon"
    link(rel="stylesheet", href="libs/tacit/dist/tacit-0.5.6.min.css")
    link(rel="stylesheet", href="css/style.css")
  body
    input(type="text", name="url", size="69", value=url, autofocus, readonly)