html
  head
    title= "Nodepoleaon"
    link(rel="stylesheet", href="libs/tacit/dist/tacit-0.5.6.min.css")
    link(rel="stylesheet", href="css/style.css")
  body
    form(action="", method="post")
      input(type="text", name="url", size="69", value="", placeholder="https://github.com/beevelop/nodepoleon/commit/84w36c72#diff-06f5d3L2", autofocus, required)
      br
      input(type="submit")